#tab-content p {
    display: none;
  }
  
  #tab-content p.is-active {
    display: block;
  }

  pre {
    white-space: pre-wrap;
    text-align: start;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #fff;
    font-size: 16px;
  }
  
  #tab-content div {
    display: none;
  }

  #tab-content div.is-active {
    display: block;
  }