#tab-content p {
    display: none;
  }
  
  #tab-content p.is-active {
    display: block;
  }

  body {
    background-color: #EAEAE8;
  }

  .button {
    background-color: #97b48f;
  }

  .button1 {
    background-color: #6C8C3F;
  }
  
